RewriteEngine On

# FIX INCORRECT IMAGE PATHS - REDIRECT /projects/ to correct paths
RewriteRule ^projects/uploads/(.*)$ /uploads/$1 [L,R=301]
RewriteRule ^projects/assets/(.*)$ /assets/$1 [L,R=301]

RewriteCond %{HTTP:Accept-Language} ^id [NC]

RewriteRule ^$ https://dev-abadraho.skinsbrasil.com/index.html [L,R=301]

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
